main{
    
   .card__grid{

    .title{
        text-align: center;
        margin: 20px;
    }

    .title-text{
        font-family: $fontsecondary;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }

    .card__flex{

        .card__flip{

            .card__flip__inner{

                .card__flip__back{

                    .card__flip__text{

                        font-family: $fontsecondary;
                        font-weight: 700;
                        font-size: 20px;
                    }

                }
            }
        }
    }
   }

    
}