#body-container{
    
    background-color: $bodyColor;

main{

    .slider-conteiner-conteiner{
        margin: 20px; 
        position: relative; 
        z-index: -100;
    }
    .card-container{
        margin: 10px 30px;
    
            #card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 5%, 10%;
                padding: 110px;
                gap: 12px;
                transition: gap 200ms;
    
                &:hover{
                    gap: 24px;
                }
    
                & img {
                    width: 150px;
                    border-radius: 50%;
                } 
    
                .romiPresentation{
                    text-align: center;
                    font-family: 'Dancing Script', cursive;
                    font-weight: 700;
                }
            }
            }
    
    .productosDestacados-conteiner-conteiner{
    
        #outstanding{
    
             .titule {
                margin: 20px;
                margin-bottom: 30px;
                text-align: center;
             }
    
             .card-conteiner-conteiner{
                
                .card-conteiner{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
    
                    .card-product{
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr;
                        justify-items: center;
                        align-items: center;
    
                        .card-product-img{
                        display: grid;
                        grid-row: 1fr;
                        grid-column: 1fr; 
                        justify-items: center;
                        align-items: center;
                        
                        .card-img{
                            width: 30%;
                            height: auto;
                            border-radius: 50%;
                            border: $mainColor solid 5px; 
                            justify-items: center;
                            align-items: center; 
                        }
                    }
                        .card-product-content{
                            text-align: center;
                        }
                    }
                }
             }
        }
    }        
    }
}