@media (max-width: 768px) {
    #body-container{

    
    #hero{
        .nav-container{

        .nav-lavel,
        .nav-imput{

            display: block;
            cursor: pointer;
        }

        .nav-input:checked + #nav-bar ul{
            clip-path: circle(100% at center);
        }

        #nav-bar ul{
            position:fixed;
            top: 80px;
            bottom: 0;
            background: #D9D9DD;
            left: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            width: 100%;
            clip-path: circle(0 at center );
            transition: clip-path 1s ease-in-out;
        }
    }
    }

    /*--------------FOOTER---------------*/
    

    #footer{

    
        .footer-conteiner-conteiner{
            display: flex;
            flex-direction: column;
    
            .footer-conteiner{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                
            } 
            }        
        

        .footer-image,
            .footer-img{
                display: none;
            
            
        }
    }
    
        .footer-copyright {
            display: flex;
            justify-content: center; 
        }
    }
}
