@media (max-width: 768px) {
    
    #hero{

        .nav-lavel{

            display: block;
            cursor: pointer;
        }

        .nav-input:checked + #nav-bar ul{
            clip-path: circle(100% at center);
        }

        #nav-bar ul{
            position:fixed;
            top: 80px;
            bottom: 0;
            background: #D9D9DD;
            left: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            width: 100%;
            clip-path: circle(0 at center );
            transition: clip-path 1s ease-in-out;
        }
    }

    /*--------------FOOTER---------------*/
    #footer{

        background-color: $mainColor;
        display: flex;
        flex-direction: column;
    
        .footer-conteiner-conteiner{
            display: flex;
            flex-direction: column;
    
            .footer-conteiner{
                align-items: center;
    
                .footer-contact{
                    margin-bottom: 10px;
                    text-align: center;
        
                    &-text{
                        font-family: 'Dancing Script', cursive;
                        font-weight: 700;
                    }
                }
    
                .footer-social{
                    margin: 15px 10px;
                    align-items: center;
            
                    & .footer-icon{
                        border: 1px solid black;
                        border-radius: 50%;
                        width: 50px;
                        height: auto;
                        margin: 5px;
                    }

                    
                    & .footer__icon--facebook:hover{
                        transform: scale(1.2);
                    }
            
                    & .footer__icon--instagram:hover{
                        transform: scale(1.2);
                    }
                   
                } 
            }        
        }

        .footer-image{
            .footer-img{
                display: none;
            }
            
        }
    
        .footer-copyright {
            display: flex;
            justify-content: center; 
        }
    }
}